
* {
    box-sizing: border-box
}

body {
    height: 125vh;
    background-image: url(../Images/Medfly/Male_medfly_close_up_insect.jfif);
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

main {
    color: white;
}

/***** NAV BAR STYLING ******/

header img {
    height: 80px;
    margin-left: 40px;
}

header {
    background-color: #8A946F;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

/*** CAROUSEL STYLING ***/

.Slideshow-Container {
    max-width: 1000px;
    position: relative;
    margin: auto
}

.Containers {
    display: none;
}

.Back, .Forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
}

.Forward {
    right: 0;
    border-radius: 4px 0 0 4px;
}

.Back:hover, .Forward:hover {
    background-color: rgba(0,0,0,0.8);
}

.Dot-Container{
    text-align: center;
}

.Dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #acc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.dots:hover {
    background-color: #717161;
}

.Fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}

@-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}




